@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Mukta', sans-serif;
}

.emoji {
    @apply inline-block;
}

.bg-black {
    background-color: #121212;
}

article {
    backface-visibility: hidden;
}

.page-content a {
    @apply text-blue-500;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre, code, ul, ol {
    @apply mb-4;
}

ul,
ol {
    @apply list-inside;
}

ol {
    @apply list-decimal;
}
