<div class="flex-1 flex-col justify-center items-center h-full">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 py-12">
  
    <!-- Local Projects -->
    {% for project in site.projects %}
  
      {%- assign project_type  = "local" -%}
      {%- assign project_id    = project.name | slugify -%}
      {%- assign project_img   = project.image -%}
      {%- assign project_name  = project.name -%}
      {%- assign project_desc  = project.description -%}
      {%- assign project_tools = project.tools -%}
      {%- assign project_time  = project.time -%}
      {%- assign project_nice_time = project.time | date_to_string -%}
  
      {%- if project.external_url -%}
        {%- assign project_url = project.external_url -%}
      {%- else -%}
        {%- assign project_url = project.url | relative_url -%}
      {%- endif -%}
  
      {% include projects/project-card.html %}
  
    {% endfor %}
  
  </div>
</div>
