<article class="overflow-hidden rounded-lg bg-gray-100 transition duration-200 ease-in-out transform hover:-translate-y-2">
  <a href="{{ project_url }}" class="block h-auto w-full">

    {%- if project_img -%}
      <img id="{{ project_id }}-img" class="w-full" src="{{ project_img }}" alt="{{ project_name }}" />
    {%- endif -%}

    <header class="flex flex-col justify-between leading-tight p-2 md:p-4">
      <h5 id="{{ project_id }}-name" class="text-lg mb-1 text-gray-900">
        {{ project_name }}
      </h5>
      <p id="{{ project_id }}-desc" class="no-underline text-gray-900">{{ project_desc }}</p>
    </header>
  </a>

  <footer class="flex flex-row p-2 md:p-4 pt-0 md:pt-0">
    {%- for tool in project_tools -%}
      <button class="tag-{{ tool }} focus:outline-none focus:ring rounded-full px-4 mr-2 text-white bg-green-600 p-2 rounded leading-none flex items-center">{{ tool }}</button>
    {%- endfor -%}
  </footer>

</article>