<div class="flex-1 flex-col justify-center items-center h-full">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 py-12">

    {% for post in site.posts %}
      {%- assign post_nice_time = post.time | date_to_string -%}

      {%- comment -%}
        Cards always link to the internal post page. The `external_url`
        frontmatter is rendered as a callout on the post page itself
        (see _includes/external-link.html).
      {%- endcomment -%}
      {%- assign post_url = post.url | relative_url -%}

      {% include blog/post-card.html %}
    {% endfor %}
  
  </div>
</div>
